<div class="roomUpTop hero-unit">
	<div class="text_for_hero">
		<h1>Welcome.</h1>
		<h3>This is my software development and design <a href="#">lab</a>.</h3>
		<h3>Feel free to poke around.</h3>
		<q>-Stephen</q>
	</div>
	<%= image_tag("beaker.png", id: "beaker") %>
</div>
