<div class="row">
	<div class="span10">
		<h1><%= @post.title %></h1>
	</div>
</div>
<div class="row post-content">
	<div class="span10">
		<p><%= simple_format(@post.content, {}, sanitize: false) %></p>
	</div>
</div>
  
<% if user_signed_in? %>
	<div class="new-edit-nav pull-left">
		<%= link_to 'Edit', edit_post_path(@post) %> |
		<%= link_to 'Back', posts_path %>
	</div>
<% end %>
